.form-container {
  display:flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 100%;
  max-width: 500px; /* Adjust the form width */
  background: #f8f9fa; /* Light background */
  padding: 20px;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  height: 100px;
  margin-bottom: 50px;
}
.links {
  display: flex;
  justify-content:center;
  gap: 50px;
}

.card {
  width: 100%;
  max-width: 300px;
  background: #f8f9fa; /* Light background */
  padding: 20px;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}